.border-black {
  border: 1px solid black;
}

.italic-text {
  font-style: italic;
}

.text-color-blue {
  color: blue;
}

.text-color-red {
  color: red;
}

/* WithoutPortalModal.js & WithPortalModal.js */
.portal_page_component {
  position: relative;
  max-width: 400px;
  border: 1px solid black;
}

.portal_modal {
  position: absolute;
  border: 1px solid red;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  background: white;
}
