/* common */
.text-align-center {
  text-align: center;
}
.border-black {
  border: 1px solid black;
}
.italic-text {
  font-style: italic;
}
.text-color-blue {
  color: blue;
}
.text-color-red {
  color: red;
}
.margin-20px {
  margin: 20px;
}

/* WithoutPortalModal.js & WithPortalModal.js */
.portal-page-component {
  position: relative;
  max-width: 400px;
  border: 1px solid black;
}
.portal-modal {
  position: absolute;
  border: 1px solid red;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  background: white;
}
